:root {    
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

#app-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 2fr 7fr 50px;
    grid-template-rows: 20px 1fr 3fr 20px;
}

#app-grid > div {
    display: flex;      
}

#header {
    background-color: #2F4858;    
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    border-bottom: 1px solid #aed0e0;
}

#left-side {
    background-color: #80b3d1;
    flex-direction: column;   
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-top: 2px solid #aed0e0;
    border-right: 2px solid #aed0e0;
}

#period {
    background-color: #cadbe4;
    border-right: 2px solid #aed0e0; 
    grid-column: 1 / 3;
    grid-row: 2 / 3;    
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;         
}

#period button {
    padding: 0.25em;
}

#collections {
    background-color: #cadbe4;
    border-top: 2px solid #aed0e0;
    border-right: 2px solid #aed0e0; 
    grid-column: 2 / 3;
    grid-row: 3 / 4; 
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75em;   
}

#content {
    background-color: azure;
    flex-direction: column;    
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

#right-side {
    background-color: #80b3d1;
    flex-direction: column;    
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    border-left: 2px solid #aed0e0;
}

#footer {
    background-color: #2F4858;     
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    border-top: 1px solid #aed0e0;
}
